
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-transparent border-bottom box-shadow-dark">
        <h5 class="my-0 mr-md-auto font-weight-normal text-dark" ><img class="rounded-circle" src="/static/logo.png" alt="logo" width="48" height="48"><a class="p-1 text-dark" href="/">Teafold Analytics</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">Features</a>
          <a class="p-2 text-dark" href="#">Enterprise</a>
          <a class="p-2 text-dark" href="#">Support</a>
          <a class="p-2 text-dark" href="/pricing">Pricing</a>
        </nav>
        <a class="btn btn-outline-success" href="#">Login /Sign up</a>
      </div>
