{% extends 'layout.html' %}
{% block body %}
<style>
    body {
            background-color: white;
        }
    </style>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div class="row">
    <div class="col-2" style="padding-top:40px;">
        {% include 'dashlinks.html'%}

    </div>
    <div class="col-10">
        <div class="container">
            <!--h2>Sacco Members</h2-->
            <p></p>
            <input id="myInput" class="form-control" type="text" placeholder="Search..">
            <br>
            <!--button type="button" class="btn btn-primary btn-lg ">Add Member</button-->

            <div></div>
            <br>
            <table id="myTable" class="table table-striped tabz table-bordered display">
                <thead>
                    {% for i in range(session["colsxy"]) -%}
                    <th>
                        <b>{{session["cols"][i]}}</b>
                    </th>
                    {%- endfor %}
                    <th>
                        <b>Action</b>
                    </th>
                </thead>
                <tbody id="myTable">
                    {% for i in range(session["valsxy"]) -%}
                    <tr>
                        {% for k in range(session["colsxy"]) -%}
                        <td>
                            {{session["vals"][i][k]}}
                        </td>
                        {%- endfor %}
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{{session['dels'][i]}}" class="btn btn-danger" >Reject Application</a>
                                <a href="{{session['updates'][i]}}" class="btn btn-secondary">Update</a>
                            </div>
                        </td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>


<!-- Button trigger modal -->
<div class="modal" id="example" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-danger text-white">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete Member</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Proceed</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Contribution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Member Id</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="id" placeholder="Member id">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2">Date</label>
                        <input type="date" class="form-control" id="exampleFormControlInput2" name="date" >
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput3">Amount</label>
                        <input type="number" class="form-control" id="exampleFormControlInput3" name="amount" placeholder="amount">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Contribution">
                </form>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.tabz').DataTable();
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(".three").addClass("active");
    $('.subo').click(function () {
        var respo = [Math.floor(Math.random() * 101), $("#exampleFormControlInput1").val(), $("#exampleFormControlInput2").val(), $("#exampleFormControlInput3").val(), $("#exampleFormControlTextarea4").val(), $("#exampleFormControlInput5").val()];
        console.log("twende kazi"); //IT WORKS!

        console.log(respo);
        $.ajax({
            type: 'POST',
            url: "{{ url_for('members') }}",
            contentType: 'application/json;charset=UTF-8',
            //data : {'data':valuex},
            data: JSON.stringify(respo),
            //contentType: 'application/json',
            success: function (data) {
                // do something with the received data
                window.location.href = "/dashboard/members";
            }
        });
    });
</script>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

{% endblock %}